.banniere-video{
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    justify-content: center;
    align-items: center;
    margin-left: var(--space-XXlarge);
    margin-right: var(--space-XXlarge);
    margin-bottom: var(--space-XXlarge);
    > a{
        font-family: var(--font-lato);
        color: var(--tonsNeutre-light);
        text-decoration: none;
        font-size: var(--font-size-md-sm);
        min-width: max-content;
    }
}
.banniere-video video{
    /* je ne sais pas pkoi il n'est pas parfaitement aligné (je le force avec padding*/
    padding-left: 13px;
    max-width: 110%; 
}
.banniere-video > p{
    max-width: 80ch;
    font-size: var(--font-size-md);
    line-height: 1.5em;
}
.banniere-video h1{
    color: var(--darkest);
    max-width: 20ch;
    line-height: 1.2em;
    font-weight: 400;
    font-size: var(--font-size-xl);
    & span{
        font-size: var(--font-size-xxxl);
    }
}



@media (max-width:500px){
    .banniere-video >video{
        max-width: 340px;
    }
    .banniere-video > h1{
        font-size: 28px;
        margin: 0;
        & span{
            font-size: 80px;
        }
    }
    .banniere-video > p{
        font-size: 16px;
    }
}